body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;


}
.message{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #d0d5dd ;

}


.message-info{
    background-color: #c9dfff;
    color: #4941a4;
}
.message-success{
    background-color: #c6f4d8;
    color: #227f43;
}
.message-warning{
    background-color: #fcfbc3;
    color: #8c7302;
}
.message-error{
    background-color: #ffd1d7;
    color: #a12d4a;
}